form {
    width: 23%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
}

.formdata {
    width: 100%;
}

form section {
    margin: auto;
    display: flex;
    align-items: center;
}

section input {
    border-radius: 10px;
    border-style: none;
    background-color: gainsboro;
    width: 100%;
    margin: 10px;
    padding: 17px;
}

form button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: skyblue;
}

#in,
#out {
    height: auto;
    width: auto;
    margin: revert;
}

form span {
    display: block ruby;
}
