form {
    width: 40%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
}

.formdata {
    width: 100%;
    margin: 50px 0;
}

.formdata #sent {
    width: 30%;
    margin: auto;
    color: darkgreen;
    background-color: lightgreen;
    border-radius: 5px;
    padding: 15px 0;
}

form section {
    margin: auto;
    display: flex;
    align-items: center;
}

form #checks {
    display: grid;
    grid-template-columns: auto auto;
}

section input {
    border-radius: 10px;
    border-style: none;
    background-color: gainsboro;
    width: 100%;
    margin: 10px;
    padding: 17px;
}

section textarea {
    border-radius: 10px;
    border-style: none;
    background-color: gainsboro;
    width: 100%;
    margin: 10px;
    padding: 17px;
}

section select {
    border-radius: 10px;
    border-style: none;
    background-color: gainsboro;
    width: 100%;
    margin: 10px;
    padding: 17px;
}

section .check-input {
    display: flex;
    align-items: center;
}

section #check-button {
    width: auto;
}

form button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: skyblue;
    cursor: pointer;
}

form button:active {
    background-color: white;
    border: 2px solid skyblue;
}

section #checks {
    display: grid;
    width: 40%;
    grid-template-columns: 1fr 1fr;
}

#in,
#out {
    height: auto;
    width: auto;
    margin: revert;
}

form span {
    display: block ruby;
}

@media only screen and (max-width: 480px) {
    form {
        width: 75%;
    }
}
