.home {
    display: flex;
    flex-direction: column;
}

.home .home-header {
    display: block;
    margin: 40px 0px;
}

.home .home-header #logopop {
    width: 30%;
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.home .home-header .carousel {
    margin: auto;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 50px 0;
}

.home .home-header .carousel-track {
    display: flex;
    width: calc(625px * 12);
    animation: scroll 40s linear infinite;
    overflow: hidden;
    border: 5px solid skyblue;
    filter: blur(2px);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-625px * 6));
    }
}

.home .home-header .slide {
    height: 420px;
    width: 625px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.home .home-header .carousel::before,
.carousel::after {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.home .home-header .carousel::before {
    left: 0;
    top: 0;
}

.home .home-header .carousel::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.home .home-header .carousel img {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.wrap {
    display: block;
    width: 80%;
    margin: auto;
}

.shop .flavors {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shop .indflav {
    text-align: left;
    padding: 0px 60px;
}

@media only screen and (max-width: 1492px) {
    .wrap {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .shop .flavors {
        grid-template-columns: none;
    }
    .home .carousel::before, .carousel::after {
        width: unset;
    }
}